/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #170C66;
  background-color: #ffffff;
  opacity: 1;
}

*,
*:after,
*:before {
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.page-wrap {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  width: 100%;
  min-height: 1113px;
}

.main-header__logo {
  position: absolute;
  top: 464px;
  left: 207px;
  z-index: 1000;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
}

.main-header__icon-img {
  width: 303px;
  height: 73px;
}

.main-header__image {
  position: absolute;
  display: block;
  max-width: 100%;
}

.main-header__image.main-header__image--bg {
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 1267px;
  width: 100%;
  height: auto;
}

.main-header__image.main-header__image--notebook {
  top: 125px;
  right: 104px;
  z-index: 2;
  max-width: 1055px;
  width: 100%;
  height: auto;
}

.main-header__image.main-header__image--circle-1 {
  top: 141px;
  left: 132px;
  z-index: 3;
  max-width: 130px;
  width: 100%;
  height: auto;
}

.main-header__image.main-header__image--circle-2 {
  top: 834px;
  left: 613px;
  z-index: 4;
  max-width: 72px;
  width: 100%;
  height: auto;

}

.main-header__image.main-header__image--circle-3 {
  top: 1465px;
  left: 146px;
  z-index: 8;
  max-width: 72px;
  width: 100%;
  height: auto;
}

.main-header__image.main-header__image--circle-big {
  top: 894px;
  left: 0;
  z-index: 5;
  max-width: 256px;
  width: 100%;
  height: auto;
}

.services {
  box-sizing: border-box;
  width: 100%;
  min-height: 1260px;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
  color: #170C66;
}



.main-content {
  position: relative;
  width: 100%;
}

.main-content__images {
  position: absolute;
  top: 443px;
  left: 0;
  z-index: 5;
  display: block;
  max-width: 100%;
}

.main-content__image.main-content__image--bg-main {
  width: 570px;
  height: 815px;
}
/* <!--табы неудаленные-->
#tabs {
  width: 100%;
  max-width: 1270px;
  margin: auto;
}

.tabs-nav {
  width: 100%;
  overflow: hidden;
  margin: 0 0 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.tabs-nav li {
  width: 22%;
  text-align: center;
  display: block;
  float: left;
  padding: 0;
  list-style: none;
}

.tabs-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #170C66;
  padding: 10px 20px;
  opacity: 1;
}

.tabs-nav li:last-child a {
  display: block;

}

.tabs-nav a.active {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 47px 11px 51px;
  background: transparent linear-gradient(90deg, #FD2C9A 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
}
<!--конец табов--> */

.services {
  margin: 0 auto;
  display: block;
  max-width: 1270px;
  width: 100%;
}

.services__title.title {
  margin-bottom: 56px;
}

.services__tabs-wrap {
  position: relative;
  width: 100%;
}

.services-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.services-tabs__item {
  list-style-type: none;
}

.services-tabs__item-link {
  margin: 0 25px 100px 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #170C66;
  text-decoration: none;
}

.services-tabs__item-link:hover {
  opacity: 0,8;
}

.services-tabs__item-link--active {
  margin: 0 25px 100px 25px;
  padding: 11px 50px ;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff; 
  text-decoration: none;
  background: transparent linear-gradient(90deg, #FD2C9A 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.services-list__item.services-list__item--w-20p {
  display: block;
  width: 20%;
}

.services-list__item.services-list__item--w-25p {
  display: none;
  width: 25%;
}

.services-list__item-title {
  margin: 0 0 32px 0;
  min-height: 58px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #170C66;
  text-align: center;
}

.services-list__item-description {
  padding: 0 25px;
  text-align: center;
}

.services-tabs-content__item-img.services-tabs-content__item-img--data {
  position: absolute;
  top: 480px;
  left: -300px;
  z-index: 10;
  display: block;
  max-width: 100%;
}

.services-tabs-content__item-img.services-tabs-content__item-img--cloud {
  position: absolute;
  top: 480px;
  left: -300px;
  z-index: 12;
  display: none;
  max-width: 100%;
}

.services-tabs-content__item-img.services-tabs-content__item-img--consulting {
  position: absolute;
  top: 480px;
  left: -250px;
  z-index: 20;
  display: none;
  max-width: 100%;
}

.services-tabs-content__item-img.services-tabs-content__item-img--science {
  position: absolute;
  top: 320px;
  left: -250px;
  z-index: 22;
  display: none;
  max-width: 100%;
}

.services__slogan {
  margin: 105px 0 0 0;
  padding: 0;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #170C66;
  text-align: right;
}

.achievements {
  width: 100%;
}

.achievements__title.title {
  margin-bottom: 78px;
}

.achievements__options {
  margin: 0 0 173px 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.achievements__option {
  margin: 0 30px;
  padding: 60px 128px 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  width: 450px;
  height: 485px;
  border-radius: 39px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000045;
}

.achievements__option:nth-child(2) {
  padding: 77px 113px 50px;
}

.achievements__option:nth-child(3) {
  padding: 77px 57px 36px;
}

.achievements__option-title {
  font-size: 28px;
  line-height: 34px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0;
  color: #170C66;
  opacity: 1;
}

.achievements__option-img {
  display: block;
  text-align: center;
  max-width: 100%;
}

.achievements__option-img.achievements__option-img--elements {
  max-width: 160px;
  width: 100%;
  height: auto;
}

.achievements__option-img.achievements__option-img--certificate {
  max-width: 174px;
  width: 100%;
  height: auto;
}

.achievements__option-text {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.main-footer {
  width: 100%;
  min-height: 244px;
  background: transparent -o-linear-gradient(199deg, #FD2C9A 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(251deg, #FD2C9A 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
  opacity: 1; 
}
