/*Typography
**************************************************************************************************/

body {
	font-family: $font;
	color: $text;
    font-weight: $lighter;
}

//
// Text tools
//


/* Links */

// a {
//     color: inherit;
//     text-decoration: none;
//     cursor: pointer;
//     outline: 0 none;
// 	color: $grey;
//     &:hover {
//         color: $grey;
//         text-decoration: none;
//         cursor: pointer;
//         outline: 0 none;
//         &.no-link {
//             text-decoration: none;
//             cursor: text;

//             &:hover {
//                 cursor: text;
//             }
//         }
//     }
// }

b,
strong {
    font-family: $font;
    font-weight: $bold;
}

em {
    font-weight: inherit;
    font-style: italic;
}

// p {
//     margin-bottom: 0;
// }

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
    font-family: $font;
    font-weight: $bold;
	text-transform: none;
}

// h1,
// .h1 {
//     @include fs(4rem, 1.366666);
// }
// h2,
// .h2 {
// 	@include fs(3rem, 1.26667);
// }
// h3,
// .h3 {
// 	@include fs(2.4rem, 1.16667);
// }
// h4,
// .h4 {
//     @include fs(1.6rem, 1.125);
// }
// h5,
// .h5 {
//     @include fs(1.4rem, 1.2857);
// 	font-weight: $normal;
// }
// h6,
// .h6 {
// 	@include fs(1.2rem, 1.16667);
// 	letter-spacing: 0.05rem;
// 	font-weight: $normal;
// 	text-transform: uppercase;
// }
