+b('div').page-wrap
	// main-header
	include ../../partials/main-header/main-header
	
	//main
	+b('main').main-content(role='main')
		+e('h1').main-title.visually-hidden Angeek
		include ../../partials/services/services
		include ../../partials/achievements/achievements
	//main END

	+b('footer').main-footer
