.main-header {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;

	&__logo {
		position: absolute;
		top: 37.64%;
		left: 10.78%;
		z-index: 10;
		display: block;
		box-sizing: border-box;
		width: 15%;
		max-width: 303px;
	}

	&__logo-img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__holder {
		position: static;
		display: block;
		max-width: 1267px;
		width: 80%;
		height: auto;
	}

	&__image {
		position: absolute;
		display: block;
		max-width: 100%;

		&--notebook {
			top: 10.14%;
			right: 5.41667%;
			z-index: 2;
			width: 60%;
			max-width: 1055px;
			height: auto;
		}
	
		&--circle-1 {
			top: 11.44%;
			left: 6.875%;
			z-index: 3;
			max-width: 130px;
			width: 7%;
			height: auto;
		}
	
		&--circle-2 {
			top: 67.64%;
			left: 31.93%;
			z-index: 4;
			width: 4.6%;
			max-width: 72px;
			height: auto;
		}
	
		&--circle-3 {
			top: 118.9%;
			left: 7.6%;
			z-index: 8;
			width: 4.6%;
			max-width: 72px;
			height: auto;
		}
	
		&--big-circle {
			top: 72.51%;
			left: 0;
			z-index: 5;
			width: 18%;
			max-width: 256px;
			height: auto;
		}
	}
}