//main-header
+b('header').main-header
	+e('div').logo
		+e('img').logo-img(src="assets/images/logo.svg", width="303", height="73", alt="logo Angeek")
	+e('img').holder(src="temp/big-background-header.svg", width="1267", height="1233", alt="header background image")
	+e('div').images
		+e('img').image--notebook(src="temp/notebook-header.svg", width="1055", height="873", alt="notebook in the header")
		+e('img').image--circle-1(src="temp/circle-1.svg", width="130", height="130", alt="circle")
		+e('img').image--circle-2(src="temp/circle-2.svg", width="72", height="72", alt="circle-2")
		+e('img').image--circle-3(src="temp/circle-3.svg", width="72", height="72", alt="circle-3")
		+e('img').image--big-circle(src="temp/big-circle.svg", width="256", height="331", alt="big-circle")
//main-header END
