a {
  color: 0;
  font-size: 15px;
  width: 100%;
}

a:hover {
  background: green;
  height: 50px;
  display: block;
}

p {
  font-size: 25px;
  background-color: 0;
  color: white;
}
/*# sourceMappingURL=main.css.map */
