
/* Scaffold styles
*******************************************************************************************************************************/

html,
body {
	position: relative;
}

html {
	font-size: $font-size-root;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include border-box-all;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bg;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;

	/* when navigation is shown, don’t allow scrolling of content */
	&.no_scroll {
		overflow: hidden;
		height: 100%;
	}
}
/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
	body.no_scroll {
		margin-right: 23px;
	}
	body.no_scroll .expanded {
		padding-right: 7px;
		background: rgba(255,255,255,.98); /* because FF no blur, reduce bg transparency */
	}
}

// a {
// 	color: inherit;
// 	@include transition;
// 	text-decoration: none;
// 	&:hover {
// 		@include transition;
// 		color: $link-hover;
// 		text-decoration: none;
// 	}
// }


figure {
	margin: 0;
}

img {
	max-width: 100%;
	border: none;
}

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 60px;
	font-weight: 800;
	text-align: center;
	color: #170C66;
}

.page-wrap {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

.main-footer {
	width: 100%;
	min-height: 244px;
	background: transparent linear-gradient(251deg, #FD2C9A 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
}