.achievements {
	margin: 0 auto;
	width: 100%;
	max-width: 1530px;

	&__title.title {
		margin-bottom: 78px;
	}

	&__options {
		@include list-reset;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
	}

	&__option {
		margin: 0;
		padding: 0 30px 60px;
		width: 100%;
		max-width: 33.333%;
		flex: 0 0 33.333%;
	}

	&__option-inner {
		padding: 60px 100px 36px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		min-height: 485px;
		height: 100%;
		text-align: center;
		border-radius: 39px;
		background: $white 0% 0% no-repeat padding-box;
		box-shadow: 15px 15px 15px #00000045;
	}


	&__option-title {
		font-size: 28px;
		line-height: 34px;
		font-weight: 700;
		letter-spacing: 0;
		color: $blue;
		flex: 0 0 auto;
		min-height: 70px;
	}

	&__option-img-wrap {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__option-img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__option-img--elements {
		max-width: 160px;
	}

	&__option-img--certificate {
		max-width: 174px;
	}

	&__option-text {
		margin: auto 0 0;
		display: block;
		flex: 0 0 auto;
		font-size: 24px;
		line-height: 34px;
		color: $black;
		font-weight: 500;
		text-align: center;
	}
}