//achievements
+b('section').achievements
	+e('h2').title.title Achievements
	+e('div').inner-wrap
		+e('ul').options
			+e('li').option
				+e('div').option-inner
					+e('h3').option-title Open-Source Contribution
					+e('div').option-img-wrap
						+e('img').option-img--elements(src="temp/elements.svg", width="160", height="168", alt="elements")
					+e('p').option-text
						| Spring-boot Apache Spark
			+e('li').option
				+e('div').option-inner--certificates
					+e('h3').option-title Certificates
					+e('div').option-img-wrap
						+e('img').option-img--certificate(src="temp/certificate.svg", width="174", height="141", alt="img certificate")
					+e('p').option-text
						| AWC Oracle GCP
			+e('li').option
				+e('div').option-inner--b-domains
					+e('h3').option-title Business Domains
					+e('p').option-text
						| Payments Retail & Distribution Financial Services Software & Hi-Tech Analytics
//achievements END
