doctype html
include ../vendor/bemto

block vars
- var rootClasses = rootClasses || '';
- var bodyClasses = bodyClasses || '';
- var TITLE = 'ANGEEK'
- var DESCRIPTION = 'ANGEEK Company'
- var VIEWPORT_CONTENT = VIEWPORT_CONTENT || 'width=device-width, initial-scale=1, maximum-scale=1, minimal-ui';

html(class=rootClasses lang="en")
	head
		include ../partials/head/head
		block head

	body(class=bodyClasses)
		block content
	
	block scripts
		
		script(src='assets/scripts/jquery/jquery-3.4.1.js')
		script(src='assets/scripts/jquery/jquery-ui.min.js')

	block commonScripts
		script(src='assets/scripts/scripts.js')
