.services {
	position: relative;
	z-index: 8;
	margin: -6.25% auto 0;
	display: block;
	width: 100%;
	min-height: 1260px;

	&__title.title {
		margin-bottom: 56px;
	}
	
	&__tabs-wrap {
		position: relative;
		width: 100%;
	}
	
	&-tabs {
		@include list-reset;
		margin: 0 auto 90px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1270px;
		@media #{$M_MD} {
			margin-bottom: 70px;
		}

		&__item {
			padding-left: 10px;
			padding-right: 10px;
			display: block;
		}
		&__item:focus {
			outline: none;
			appearance: none;
			box-shadow: none;
		}
	
		&__item-link {
			padding: 11px 40px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
			line-height: 1.5;
			font-weight: $semibold;
			color: $blue;
			text-decoration: none;
			border-radius: 26px;
			@include transition(all 0.6s ease);

			@media #{$M_MD} {
				padding: 10px 30px;
				font-size: 1.8rem;
				line-height: 1.25;
				border-radius: 21px;
			}
			
			.services-tabs__item--active &,
			.services-tabs__item--active &:hover {
				color: $white; 
				text-decoration: none;
				background: transparent linear-gradient(90deg, #fd2c9a 0%, #5661D5 100%) 0% 0% no-repeat padding-box;
				@include transition(all 0.6s ease);
			}
		}
	
		&__item-link:hover {
			text-decoration: none;
			background: transparent linear-gradient(90deg, rgba(253, 44, 154, 0.2) 0%, rgba(86, 97, 213, 0.2) 100%) 0% 0% no-repeat padding-box;
			@include transition(all 0.6s ease);
		}
		&__item-link:focus {
			outline: none;
			appearance: none;
			box-shadow: none;
		}
	}

	&-tabs-content {
		&__item {
			position: relative;
			display: none;
		}

		&__item-description {
			position: relative;
			width: 100%;
		}

		&__item-img-wrap {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			width: 50%;
			max-width: 570px;
		}

		&__item-img {
			position: absolute;
			display: block;
			height: auto;
		}
		&__item-img--holder {
			position: static;
			width: 100%;
		}
		&__item-img--data {
			top: 13%;
			left: 4.91%;
			width: 110%;
			max-width: 621px;
		}

		&__item-img--cloud {
			top: 3.68%;
			left: 4.91%;
			width: 110%;
			max-width: 666px;
		}
		&__item-img--consulting {
			top: 1.6%;
			left: 9.3%;
			width: 74%;
			max-width: 418px;
		}
		&__item-img--science {
			top: -2.95%;
			left: 13.6%;
			width: 87%;
			max-width: 492px;
		}

		&__item-techs-wrap {
			margin: 0 auto;
			padding-left: 25px;
			padding-right: 25px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
			flex-wrap: nowrap;
			width: 100%;
			max-width: 1270px;
		}
		&__item-techs {
			margin-top: 105px;
			display: block;
			width: 45%;
			max-width: 530px;
		} 
	}

	&-list {
		@include list-reset;
		margin: 0 auto;
		padding-left: 25px;
		padding-right: 25px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		max-width: 1270px;
		
		&__item {
			padding-left: 25px;
			padding-right: 25px;
			display: block;
			width: 100%;
		}
		&__item--w-20p {
			max-width: 20%;
			flex: 0 0 20%;
		}
		&__item--w-25p {
			max-width: 25%;
			flex: 0 0 25%;
		}

		&__item-title {
			margin: 0 0 3.2rem;
			min-height: 6rem;
			font-size: 2rem;
			line-height: 1.5;
			font-weight: $semibold;
			color: $blue;
			text-align: center;
		}
	
		&__item-description {
			font-size: $font-size;
			line-height: $line-height;
			text-align: center;
		}
	}
	
	&-techs {
		width: 100%;
		overflow: hidden;
		&__title {
			margin-bottom: 3rem;
			font-size: 2.4rem;
			line-height: 1.46;
			font-weight: $semibold;
			text-transform: uppercase;
			letter-spacing: 0;
			color: $blue;
			text-align: right;
		}
		&__list {
			@include list-reset;
			margin-left: -8px;
			margin-right: -8px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			flex-wrap: wrap;
		}
		&__item {
			padding-left: 8px;
			padding-right: 8px;
			margin-bottom: 30px;
		}
		&__item-link {
			display: block;
			width: 93px;
			height: auto;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center top;
		}
		&__item-link:before {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
	}
}