//services
+b('section').services
	+e('h2').title.title Services
	+e('div').tabs-wrap(id='service-tabs')
		+b('ul').services-tabs
			+e('li').item
				+e('a').item-link(href="#tab-1") Data Platform
			+e('li').item
				+e('a').item-link(href="#tab-2") Cloud Platform
			+e('li').item
				+e('a').item-link(href="#tab-3") Consulting
			+e('li').item
				+e('a').item-link(href="#tab-4") AI/DATA SCINCE

		+b('div').services-tabs-content
			+e('div').item#tab-1
				+e('div').item-description
					+b('ul').services-list
						+e('li').item--w-20p
							+e('h3').item-title Cloud-native data platform
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-20p
							+e('h3').item-title Stream processing
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-20p
							+e('h3').item-title ETL/ELT
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-20p
							+e('h3').item-title Source->DL->DW
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-20p
							+e('h3').item-title Data-driven IOT
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					+e('div').item-img-wrap
						+e('img').item-img--holder( src="temp/background-main.svg", width="570", height="815", alt="background in the main")
						+e('img').item-img--data(src="temp/net.svg", class="img-net", width="621", height="426", alt="img net")
				+e('div').item-techs-wrap
					+e('div').item-techs
						+b('div').services-techs
							+e('h3').title Technologies we use to make it happen
							+e('ul').list
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
			+e('div').item#tab-2
				+e('div').item-description
					+b('ul').services-list
						+e('li').item--w-25p
							+e('h3').item-title Cloud-Native Platform
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Cloud Migration
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Microservice Platform
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Continues Delivery
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					+e('div').item-img-wrap
						+e('img').item-img--holder( src="temp/background-main.svg", width="570", height="815", alt="background in the main")
						+e('img').item-img--cloud(src="temp/notebook-main.svg", width="666", height="602", alt="img notebook")
				+e('div').item-techs-wrap
					+e('div').item-techs
						+b('div').services-techs
							+e('h3').title Technologies we use to make it happen
							+e('ul').list
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring-original.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java-original.png')")
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
			+e('div').item#tab-3
				+e('div').item-description
					+b('ul').services-list
						+e('li').item--w-25p
							+e('h3').item-title ETL/ELT
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Cloud Migration
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Source->DL->DW
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Continues Delivery
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					+e('div').item-img-wrap
						+e('img').item-img--holder( src="temp/background-main.svg", width="570", height="815", alt="background in the main")
						+e('img').item-img--consulting(src="temp/meeting.svg", width="418", height="582", alt="img of the meeting")
				+e('div').item-techs-wrap
					+e('div').item-techs
						+b('div').services-techs
							+e('h3').title Technologies we use to make it happen
							+e('ul').list
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java.png')")
			+e('div').item#tab-4
				+e('div').item-description
					+b('ul').services-list
						+e('li').item--w-25p
							+e('h3').item-title Predictive analytics
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Data-driven IOT
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Recommendation System
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						+e('li').item--w-25p
							+e('h3').item-title Data Analysis
							+e('p').item-description
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					+e('div').item-img-wrap
						+e('img').item-img--holder( src="temp/background-main.svg", width="570", height="815", alt="background in the main")
						+e('img').item-img--science(src="temp/robot.svg", width="492", height="577", alt="img robot")
				+e('div').item-techs-wrap
					+e('div').item-techs
						+b('div').services-techs
							+e('h3').title Technologies we use to make it happen
							+e('ul').list
								+e('li').item
									+e('a').item-link--spring(href="#", style="background-image: url('temp/techs/spring-original.png')")
								+e('li').item
									+e('a').item-link--java(href="#", style="background-image: url('temp/techs/java-original.png')")
//services END
